/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.logo-first {
	color: black;
  font-size: 40px;
  font-weight:bold;
}

.logo-second {
	color: #0081c4;
  font-size: 40px;
  font-weight:bold;
}


.nav-larger {
  height: 70px;
}

.menu-align {
   float:right;
   margin-top: 15px;
   padding-left:20px;
}

.container-spacer {
  width: 100%;
  height: 40px;
}

.explain-title {
  font-size: 25px;
  color: #494040;
  margin-bottom: 20px;
}

.explain-text {
  color: #494040;
  font-size: 13px;
  line-height: 20px;
}

footer {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ececec;
}

.thumb-video {
  background-color:#ececec;
  color:black;
}
  
.thumb-video:hover {
  text-decoration:none;
  background-color:#ececec;
  color:#0171ab;
}

